In [108]:
import requests
import pandas as pd
from io import StringIO

In [86]:
def breaking_bad(number):
    GET = "https://api.breakingbadquotes.xyz"
    response = requests.get(f"{GET}/v1/quotes/{number}")
    return response.json(), response.text, response.content

In [87]:
a,b,c= breaking_bad(3)

In [100]:
print(type(a))
a

<class 'list'>

[{'quote': "I'm a criminal, yo.", 'author': 'Jesse Pinkman'},
 {'quote': 'Shit!', 'author': 'Walter White'},
 {'quote': "They're minerals, Marie! Jesus!", 'author': 'Hank Schrader'}]

In [107]:
a =pd.DataFrame(a)
a.set_index("author").reset_index()

          author                            quote
0  Jesse Pinkman              I'm a criminal, yo.
1   Walter White                            Shit!
2  Hank Schrader  They're minerals, Marie! Jesus!

In [111]:
print(type(b))
b

<class 'str'>

'[{"quote":"I\'m a criminal, yo.","author":"Jesse Pinkman"},{"quote":"Shit!","author":"Walter White"},{"quote":"They\'re minerals, Marie! Jesus!","author":"Hank Schrader"}]'

In [103]:
print(type(c))
c

<class 'bytes'>

b'[{"quote":"I\'m a criminal, yo.","author":"Jesse Pinkman"},{"quote":"Shit!","author":"Walter White"},{"quote":"They\'re minerals, Marie! Jesus!","author":"Hank Schrader"}]'